.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-btn {
  font-size: 2rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
  border: none;
}

.record-btn:hover {
  background-color: #3730a3;
}